.btn{ // normal white background black text
	display:inline-block;
	background-color:white;
	padding: 15px;
	color:black;
	text-align: center;
	border: solid 3px white; 

	-webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;

	&:hover{
		color:white;
		background-color: black;
		border: solid 3px black; 
	}

	&--gv-red{
		background-color: #ec3f35;
		border: solid 3px #ec3f35; 
    	color: white;
    	padding: 15px 90px;
    	margin-top: 11px;
		font-weight:bold;
		text-transform: uppercase;
		font-size: 1em;
		border-radius:0px; 

		&:hover{
			color:black;
			background-color: white;
			border: solid 3px white; 
		}
	}

	&--connect-form{
		background-color: black;
    	color: white;
    	padding: 15px 90px;
    	margin-top: 11px;
		font-weight:bold;
		text-transform: uppercase;
		font-size: 1em;
		text-align: center;
		border: solid 3px black; 


		&:hover{
		    color: rgba(0,0,0,0.75);
		    background-color: white;
		    border: solid 3px black;
		}
	}

	&--add-flip{
	    background-color: #31c17b;
	    border: solid 3px #31c17b;
	    color: white;
	    padding: 15px 15px;
	    margin-top: 11px;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-size: 1em;
	    width: 100%;
	    border-radius: 0;
	    margin-left: auto;
	    max-width: 300px;
	    margin-right: auto;
	    display: block;
	}

	&--delete-flip{
	    background-color: #ec3f35;
	    border: solid 3px #ec3f35;
	    color: white;
	    padding: 10px 10px;
	    margin-top: 11px;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-size: 1em;
	    width: 100%;
	    border-radius: 0;
	    margin-left: auto;
	    max-width: 225px;
	    margin-right: auto;
	    display: block;
	}

}