.leaderboard{

	&__title{
		text-align: center;
		font-weight: bold;
		color: #313337;
		font-size: 32px;
		margin-bottom: 40px;

		@include at-media-breakpoint(768px) {
			text-align: center; 
		}
	}


	&__flex-group{
		display: flex; 
		justify-content: space-between; 
		flex-direction: column; 
	}

	&__your-profile{
	    background: red;
	    margin: 0 auto;

			@include at-media-breakpoint(768px) {
				margin-left: auto;
				margin-right: auto;
			}
	}

	&__person{

		height: 142px;
	    /* display: flex; */
	    width: 100%;
	    background: white;
	    position: relative;
	    margin: 0 auto;
		margin-bottom: 26px;
	    display: block;
		border-bottom: 1px solid #C7D7E5;
		padding-bottom: 26px;

		@include at-media-breakpoint(768px) {
			margin-left: auto;
			//padding-right: 52px;
			margin-right: auto;
			///display: inline-block;
			max-width: 340px;
		}



    	&__image-group{
    		width: 108px;
    		background-color: #F0F5F8;
				display: inline-block;
				vertical-align: top;

    		& img{
			    vertical-align: top;
			    /* max-width: 100%; */
			    width: 100%;
    			height: 100%;
			    display: block;
					border: 2px solid #27292b;
					border-radius: 2px;
    		}

    		& p{
    			text-align: center;
			    color: #414141;
			    font-weight: bold;
			    font-size: 14px;
			    padding-bottom: 5px;

			    /* Temporary Sytle until images added */
			    //margin: 40px auto;
    		}
    	}

    	&__text-group{
    		margin-left: 20px;
				display: inline-block;

    		&__name{
    			font-size: 18px;
			    font-weight: 600;
			    margin: 5px auto 0px 0;
			    color: #0078BC;
    		}

    		&__job{
    			color: #515864;
			    font-size: 14px;
			    font-weight: normal;
					margin-top: 5px;
					letter-spacing: -0.4px;
    		}

				&__stats-group {
					position: absolute;
					bottom: 35px;

					&__place{
						font-size: 14px;
				    font-weight: bold;
						color: #414141;
						padding: 0px 8px;
						border-radius: 20px;
						border: 1px solid #414141;
						display: inline-block;
						vertical-align: top;
						margin-right: 5px;
			    }

					&__amount{
						font-size: 14px;
				    font-weight: bold;
						color: white;
						background-color: #31C17B;
						border: 1px solid #31C17B;
						padding: 0px 8px;
						border-radius: 20px;
						display: inline-block;
						vertical-align: top;
			    }
				}
    	}


    	&__profile-link{
    		position: absolute;
		    bottom: 5px;
		    right: 10px;
		    min-width: 0px;
		    min-height: 0px;
		    font-size: 10px;
		    text-transform: uppercase;
		    letter-spacing: 1.2px;
		    color: #5CAFFD;
		    font-size: 10px;

		    & img{
		    	vertical-align: middle;
		    }
    	}
	}

	&__dots {
		margin: 0 auto;
		margin-top: 12px;
		margin-bottom: 55px;
		width: 12px;
		position: relative;

		@include at-media-breakpoint(768px) {
			margin-left: 0;
			margin-right: 0;
			left: 386px;
		}

		&__single {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #8b909c;
			margin-bottom: 5px;
			margin-left: 0px;

			&:nth-of-type(2), &:nth-of-type(3){
				width: 8px;
				height: 8px;
				margin-left: 2px;
			}
		}
	}




}
