.side-menu{
	width: 90%;
	display: block;
	color: white; 
	//padding: 0.5em 1.5em;
	padding-top:50px;

	&__item{
	    display: block;
	    color: white;
	    font-size: 16px;
	    padding: 0.5em 1.5em;
	    vertical-align: middle;
	    min-height: 0px;
	    text-decoration: none; 
		&:hover{
			background: #676666;
			color: white;
			text-decoration: none; 
		}

	}

	&__btn{
		margin: 2em 0;
	    border: 2px solid #fff !important;
	    color: #fff;
	    background: none !important;
	    border-radius: 2px;
	    font-size: 16px;
	    padding: 0.6em 1.8em;
	    display: inline-block;
	    font-weight: bold; 
	    margin-left: 1.5em;

	    &:hover{
	    	color:#676666; 
	    }
	}

	&__close-btn{
		position: absolute;
	    top: 12px;
	    right: 17px;
	    font-stretch: wider;
	    border: solid 2px white;
	    border-radius: 100%;
	    padding: 5px 12px;
	    font-weight: bold;
	    cursor: pointer;
  		touch-action: manipulation;
        -ms-touch-action: manipulation;

       	transition: all 3s;
	    transition: transform 0.8s;
	    transform-origin: 50% 50%;

	    &:hover{
	    	transform: rotate(180deg);
	    }
	}
}