.visual-lead{
	margin-top: 60px;
	width: 100%;
	//min-height:calc(85vh);
	//max-height:530px;
	position: relative;
	overflow: hidden;
	background-color: #27292b;
	//margin-bottom:1px;
	//padding-bottom: 1px;



	@include at-media-breakpoint(940px) {
		& .wrapper{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}

		& iframe {
			min-height: 420px;
		}

		.visual-lead__text-group{
			padding-right: 30px;
			width: 70%;
		}
	}

	&__text-group{
		padding: 1px 0;
	}


	iframe{
		width: 100%;
		//max-width: 600px;
    	margin: 0 auto 0px auto;
    	display: block;
	}

	&__title{
		font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px;
    text-align: left;
		color: #ffffff;

		span {
			color: #ffb500;
		}
	}

	&__description{
	    font-size: 16px;
	    line-height: 25px;
	    color: #f2f4f5;
	    margin: 10px 0 32px;
	    font-weight: 500;
	}

	&__btn{
	    background-color: #ffffff;
			color: #313337;
			padding: 12px 80px;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
	}


}
