.visual-lead{
	margin-top: 60px; 
	width: 100%;
	//min-height:calc(85vh);
	//max-height:530px; 
	position: relative;
	overflow: hidden;
	//margin-bottom:1px; 
	//padding-bottom: 1px;


	
	@include at-media-breakpoint(940px) {
		& .wrapper{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between; 
		}

		& iframe {
			min-height: 420px;
		}

		.visual-lead__text-group{
			padding-right: 30px; 
			width: 70%;
		}
	}

	&__text-group{
		padding: 1px 0;
	}


	iframe{
		width: 100%;
		//max-width: 600px;
    	margin: 0 auto 0px auto;
    	display: block;
	}

	&__title{
		font-size: 28px;
	    font-weight: 600;
	    line-height: 34px;
	    margin-bottom: 15px;
	    margin-top: 30px; 
	    padding: 0px;  
	    text-align: left; 
	}

	&__description{
	    font-size: 16px;
	    line-height: 25px;
	    color: #999;
	    margin: 10px 0 20px;
	    font-weight: 500;
	}


}